.route {
  width: 100%;
  max-width: 500px;
  border-bottom: 1px solid #ccc;
  padding: 0.5em;
  margin-bottom: 1em;
}

.route__end {
  padding: 1em;
}

.flex__inline {
  display: flex;
  justify-content: space-between;
}

.route__distance {
  justify-content: flex-end;
}
