body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* This is so page transtions don't create horizontal overflow 
  when sliding in */
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.ul {
  font-size: 0.9em;
  line-height: 1.2rem;
}

.App {
  padding: 3em;
}

.nav {
  background: #333333;
  padding: 2em;
  margin: 0;
  list-style-type: none;
  position: relative;
  z-index: 1;
  height: 100%;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-bottom: 1.3em;
  display: block;
}

.flex--centre {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
