.listing {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listing li {
  display: block;
}

.listing__content {
  width: 100%;
}

/* Awful, will move CSS to styled components soon */
.listing__content h2 {
  font-size: 1.6rem;
  text-decoration: underline;
  margin: 0;
}

.listing__content img {
  width: 100%;
}

@media only screen and (min-width: 1350px) {
  .listing__content img {
    width: auto;
    max-height: 300px;
  }
}

.filters {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2em;
  margin-bottom: 1em;
}

.h3 {
  min-height: 50px;
}

.img {
  width: 200px;
}
