.shopping-list__item {
  padding: 0.5em;
  border: 1px solid #dddddd;
  margin: 0.1em;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.shopping-list__item:hover {
  background: #dddddd;
  transition: background 0.25s ease-in;
}
