.fade-enter {
  opacity: 0;
  transform: translateX(10%);

  /* add flag for styled components for overlapp? */
  position: relative;
  z-index: 1;
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit {
  opacity: 0.7;
  transform: translateX(0%);

  /* add flag for styled components for absolute overlapp? */
  position: absolute;
  top: 0;
  z-index: 0;

  /* keep page exactly the same whilst sliding out 
  with full width and offset nav width on desktop */
  width: 100%;
  left: 192px;
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(-10%);
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 300ms, transform 300ms;
}
